body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #b91c1c, #111827);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .auth-body {
    background: linear-gradient(135deg, #ef4444, #1e3a8a);
  }
  
  .auth-container, .quiz-container {
    background: #1f2937;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
  
  .auth-box input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
  }
  
  button {
    background: #ef4444;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    font-weight: bold;
  }

  #answers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
    margin-top: 1rem;
  }
  
  #logoutBtn {
    background: #ef4444;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    font-weight: bold;
  }

  button.secondary {
    background: #374151;
  }
  
  button:hover {
    background: #dc2626;
  }
  
  .hidden {
    display: none;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    background: #111827;
    margin-left: 0.8rem;
  }
  
  @media (max-width: 600px) {
    .quiz-container, .auth-container {
      width: 95%;
      padding: 1.5rem;
    }
  }
  
  @media (min-width: 600px) {
    #answers {
        grid-template-columns: repeat(2, auto);
    }
  }
  